<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- 1.spring 드라이버, ip, port, 계정, 암호 설정; db 연결 datasource 생성  -->
<bean id="dataSource" 
class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@192.168.0.51:1521:xe"/> 
	<property name="username" value="hr"/>
	<property name="password" value="hr"/>
</bean>

<!-- 2. mybatis SqlSessionFactory 생성 설정을 
스프링 SqlSessionFactoryBean 설정-->
<bean id="sqlSessionFactory" 
class="org.mybatis.spring.SqlSessionFactoryBean" >
	<property name="dataSource" ref="dataSource"/>
	<property name="configLocation" 
	value="classpath:/com/spring/shop_project/shop-config.xml"/>
	<property name="mapperLocations" 
	value="classpath:/com/spring/shop_project/*-mapping.xml"/> <!-- board-mapping.xml -->
</bean>

<!-- 3. mybatis SqlSession 타입 객체 생성 설정을
스프링에서는 SqlSessionTemplate(A a1) 객체 생성 설정 -->
<bean id="sqlSession"
class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="sqlSessionFactory"></constructor-arg>
</bean>

</beans>
