@charset "EUC-KR";
.dd_menu {background:white; padding:0px; margin:0; list-style-type:none; height:30px; z-index: 99999999999999999999999999999999999999999999999999999999999;}
.dd_menu li {float:left; height:30px; z-index: 99999999999999999999999999999999999999999999999999999999999;}

.dd_menu ul {position:absolute; left:-9999px; top:-9999px; list-style-type:none; z-index: 99999999999999999999999999999999999999999999999999999999999;}
.dd_menu li:hover {position:relative; z-index: 99999999999999999999999999999999999999999999999999999999999;}
.dd_menu li:hover ul {left:0px; top:30px; z-index: 99999999999999999999999999999999999999999999999999999999999;}
.dd_menu li:hover ul li {height:18px; border:none; z-index: 99999999999999999999999999999999999999999999999999999999999;}